<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="/login.css">

</head>
<body>
 
    <form action="/login" method="post">
    <h2>LOGIN</h2>
    <input type="text" name="name" placeholder="Name" required> 
    <input type="password" name="password" placeholder="Password" required>
    <input type="submit">

    <a href="/signup">Make a new account</a>
    <br>
    <a href="/forgot-password">Forgot Password?</a>

    </form>
  
    
</body>
</html>