<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="/reset-password.css">

</head>
<body>
    
    <form action="/reset-password" method="post">
    <h2>Reset Password</h2>
        <input type="hidden" name="userId" value="{{userId}}">
        <input type="password" name="password" placeholder="New password" required>
        <input type="submit" value="Reset Password">
    </form>
</body>
</html>
