body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    height: 100vh;
    overflow: hidden;
    position: relative; 
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./home.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(3px); /* Adjust the blur radius as needed */
    z-index: -1; /* Place behind the content */
}


p {
    color: #fcf5f5;
    padding-left: 40%;
    padding-bottom: 40%;
}
h2 {
    color: #fcf5f5;
    margin: 10px 0;
}



